{% set ext = app.extensions.enabled.Translate %}

{% set translatable = [] %}
{% for name, field in context.contenttype.fields %}
{% if field.isTranslatable is defined and field.isTranslatable == true %}
{% set translatable = translatable|merge(['#'~name]) %}
{% endif %}
{% endfor %}

<fieldset class="locale">
	<div class="col-sm-12">
		{% if app.request.get('id') is not empty %}
		<div class="dropdown pull-right" id="locale-select">
			<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
				<span class="selected">{{ ext.config.locales[ext.config.default_locale.iso].label }}</span>
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				{% for locale_code, locale in ext.config.locales %}
				<li{% if locale_code == ext.config.default_locale.iso %} class="disabled"{% endif %}>
					<a href="{{ paths.bolt }}async/translate/get" data-locale="{{ locale_code }}">{{ locale.label }}</a>
				</li>
			{% endfor %}
			</ul>
		</div>
		{% endif %}
		<input type="hidden" id="translatable-fields" value="{{ translatable|join(',') }}">
		<input type="hidden" id="locale" name="{{ name }}" value="{{ ext.config.default_locale.iso }}">
	</div>
</fieldset>
